init-author-name=David Douglas Anderson
init-author-email=david.douglas.anderson@gmail.com
init-licence=MIT
init-author-url=https://github.com/processedbeets
save-exact=true
//registry.npmjs.org/:_authToken=16a9b2d5-077d-4d64-aa82-69ce1888a9b1
